.heading{
	padding-bottom: 0px !important;
	padding-top: 10px !important;
}

.im-1{
	display: block !important;
}












/*
***********************************************
***********************************************
			BUTTON DESIGN 
***********************************************
***********************************************
*/
.btn{
	padding: 10px !important;
}